@model IEnumerable<Category>

@{
    ViewBag.CardTitle = "View Category";
    ViewBag.PageTitle = "Category Management";
    Layout = "~/Views/Shared/_Dashboardview.cshtml";
}
<a asp-action="Create" asp-controller="Category" class="btn btn-primary">Create</a>
<br />
<br />
<table class="table table-hover">
    <tr>
        <td>Name</td>
        <td>Description</td>
       <td>Date Created</td>
        <td>Actions</td>
    </tr>

  @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Date</td>
            <td>
                <a asp-action="Edit" asp-controller="Category" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-controller="Category" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>